{% extends "base.html.twig" %}

{% block title %}Restaurant{% endblock %}

{% block body %}
<div class="container mt-3">
<h1 class="mb-5">Voir tous nos menus</h1>
  <div class="card-deck">
    {% for menu in menus %}
      <div class="card" style="width: 18rem;">
        <a href="{{ path('menu.show', {id: menu.id, slug: menu.slug}) }}" style="text-decoration:none;">
            <img src="{{ asset('images/'~ menu.brochureMenu)}}" class="card-img-top" alt="Photo du menu" style="height: 15rem;">
            <div class="card-body">
              <h4 class="card-title">
                {{ menu.name }}
              </h4>
              <p class="card-text text-dark" style="font-weight: bold;">{{ menu.price }} €</p>
            </div>
          </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
