{% extends "base.html.twig" %}

{% block title %}Restaurant Afro{% endblock %}

{% block body %}
<div class="container">
  <h1 class="mt-5">Les images de mon site restarant</h1>
</div>

{% endblock %}
